/* Global */
body {
    font-family: 'Roboto', sans-serif;
}

/* NavBar */
.navbar {
    background-color: black;
}
.brand {
    width: 250px;
}

/* Home-Hero Section */
.logo {
    height: 340px;
    width: 340px;
}
.logo-box {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

/* Speakers Sections*/
.speaker-grid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    width: 250px;
}
.speakerMain-image {
    height: 248px;
    width: 248px;
    object-fit: cover;
}
.speaker-box {
    border-radius: 10px;
    background-image: url(/devfest22/img/BackgroundStars.jpg);
    /*background-image from Unsplash, title: paul-volkmer-qVotvbsuM_c-unsplash*/
}

/* Sessions Section */
.info-grid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
} /*also used in Attend Section*/

.session-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    width: 300px;
    margin: 5px;
    border-radius: 10px;
    background-image: url(/devfest22/img/BackgroundStars.jpg);
    /*background-image from Unsplash, title: paul-volkmer-qVotvbsuM_c-unsplash*/
}

/* Why Attend Section */
.why-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 300px;
    margin: 5px;
    border-radius: 10px;
    background-image: url(/devfest22/img/BackgroundStars.jpg);
    /*background-image from Unsplash, title: paul-volkmer-qVotvbsuM_c-unsplash*/
}

/*Sponsors Section*/
.sponsor-grid {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
}
.sponsor-image {
    width: 20%;
    height: 20%;
}

/* Footer */
footer {
    background-color: black;
}
.footer-link {
    text-decoration: none;
}

/* Media Queries */
@media (max-width: 576px) {
    .logo {
        width: 175px;
        height: 175px;
    }}
@media (max-width: 768px) {
    .logo {
        width: 230px;
        height: 230px;
    }}
@media (max-width: 576px) {
    .sponsor-image {
        width: 30%;
        height: 20%;
    }}