/* Home-Hero Section */
.logo {
    text-align: center;
    height: 40vh;
    padding: 10px;
}

/* Speakers Sections*/
.speaker-grid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.speaker-image {
    height: 165px;
    width: 165px;
    object-fit: cover;
}
.speaker-box {
    border-radius: 10px;
    background-image: url(/devfest22/img/BackgroundStars.jpg);
    /*background-image from Unsplash, title: paul-volkmer-qVotvbsuM_c-unsplash*/
}

/* Sessions Section */
.info-grid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
} /*also used in Attend Section*/

.session-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    width: 300px;
    margin: 5px;
    border-radius: 10px;
    background-image: url(/devfest22/img/BackgroundStars.jpg);
    /*background-image from Unsplash, title: paul-volkmer-qVotvbsuM_c-unsplash*/
}

/* Why Attend Section */
.why-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 300px;
    margin: 5px;
    border-radius: 10px;
    background-image: url(/devfest22/img/BackgroundStars.jpg);
    /*background-image from Unsplash, title: paul-volkmer-qVotvbsuM_c-unsplash*/
}

/* Footer */
.footer-link {
    text-decoration: none;
}

/*In Process*/
.sponsors {
    height: 20vh;
    border: 2px solid green;
}
