.footer-link {
    text-decoration: none;
}

.logo {
    text-align: center;
    height: 40vh;
    padding: 10px;
}
.sessions {
    height: 15vh;
}
.speakers {
    height: 15vh;
}
.attend {
    height: 15vh;
}